.App {
  font-family: sans-serif;
  text-align: center;
}

.MuiButton-containedPrimary {
  background-color: #710b7e !important;
}

.MuiStepIcon-root.MuiStepIcon-active, .MuiStepIcon-root.MuiStepIcon-completed {
  color: #710b7e !important;
}

.bottom-buttons{
  margin-top: 2%;
}